.oigyo40 {
  color: #FFFFFF;
}
.oigyo43 {
  color: #F9FAFB;
}
.oigyo46 {
  color: #F3F4F6;
}
.oigyo49 {
  color: #E5E7EB;
}
.oigyo4c {
  color: #D1D5DB;
}
.oigyo4f {
  color: #9CA3AF;
}
.oigyo4i {
  color: #6B7280;
}
.oigyo4l {
  color: #4B5563;
}
.oigyo4o {
  color: #374151;
}
.oigyo4r {
  color: #1F2937;
}
.oigyo4u {
  color: #111827;
}
.oigyo4x {
  color: #000000;
}
.oigyo410 {
  background-color: #FFFFFF;
}
.oigyo413 {
  background-color: #F9FAFB;
}
.oigyo416 {
  background-color: #F3F4F6;
}
.oigyo419 {
  background-color: #E5E7EB;
}
.oigyo41c {
  background-color: #D1D5DB;
}
.oigyo41f {
  background-color: #9CA3AF;
}
.oigyo41i {
  background-color: #6B7280;
}
.oigyo41l {
  background-color: #4B5563;
}
.oigyo41o {
  background-color: #374151;
}
.oigyo41r {
  background-color: #1F2937;
}
.oigyo41u {
  background-color: #111827;
}
.oigyo41x {
  background-color: #000000;
}
.oigyo420 {
  border-color: #FFFFFF;
}
.oigyo423 {
  border-color: #F9FAFB;
}
.oigyo426 {
  border-color: #F3F4F6;
}
.oigyo429 {
  border-color: #E5E7EB;
}
.oigyo42c {
  border-color: #D1D5DB;
}
.oigyo42f {
  border-color: #9CA3AF;
}
.oigyo42i {
  border-color: #6B7280;
}
.oigyo42l {
  border-color: #4B5563;
}
.oigyo42o {
  border-color: #374151;
}
.oigyo42r {
  border-color: #1F2937;
}
.oigyo42u {
  border-color: #111827;
}
.oigyo42x {
  border-color: #000000;
}
@media (prefers-color-scheme: light) {
  .oigyo41 {
    color: #FFFFFF;
  }
  .oigyo44 {
    color: #F9FAFB;
  }
  .oigyo47 {
    color: #F3F4F6;
  }
  .oigyo4a {
    color: #E5E7EB;
  }
  .oigyo4d {
    color: #D1D5DB;
  }
  .oigyo4g {
    color: #9CA3AF;
  }
  .oigyo4j {
    color: #6B7280;
  }
  .oigyo4m {
    color: #4B5563;
  }
  .oigyo4p {
    color: #374151;
  }
  .oigyo4s {
    color: #1F2937;
  }
  .oigyo4v {
    color: #111827;
  }
  .oigyo4y {
    color: #000000;
  }
  .oigyo411 {
    background-color: #FFFFFF;
  }
  .oigyo414 {
    background-color: #F9FAFB;
  }
  .oigyo417 {
    background-color: #F3F4F6;
  }
  .oigyo41a {
    background-color: #E5E7EB;
  }
  .oigyo41d {
    background-color: #D1D5DB;
  }
  .oigyo41g {
    background-color: #9CA3AF;
  }
  .oigyo41j {
    background-color: #6B7280;
  }
  .oigyo41m {
    background-color: #4B5563;
  }
  .oigyo41p {
    background-color: #374151;
  }
  .oigyo41s {
    background-color: #1F2937;
  }
  .oigyo41v {
    background-color: #111827;
  }
  .oigyo41y {
    background-color: #000000;
  }
  .oigyo421 {
    border-color: #FFFFFF;
  }
  .oigyo424 {
    border-color: #F9FAFB;
  }
  .oigyo427 {
    border-color: #F3F4F6;
  }
  .oigyo42a {
    border-color: #E5E7EB;
  }
  .oigyo42d {
    border-color: #D1D5DB;
  }
  .oigyo42g {
    border-color: #9CA3AF;
  }
  .oigyo42j {
    border-color: #6B7280;
  }
  .oigyo42m {
    border-color: #4B5563;
  }
  .oigyo42p {
    border-color: #374151;
  }
  .oigyo42s {
    border-color: #1F2937;
  }
  .oigyo42v {
    border-color: #111827;
  }
  .oigyo42y {
    border-color: #000000;
  }
}
@media (prefers-color-scheme: dark) {
  .oigyo42 {
    color: #FFFFFF;
  }
  .oigyo45 {
    color: #F9FAFB;
  }
  .oigyo48 {
    color: #F3F4F6;
  }
  .oigyo4b {
    color: #E5E7EB;
  }
  .oigyo4e {
    color: #D1D5DB;
  }
  .oigyo4h {
    color: #9CA3AF;
  }
  .oigyo4k {
    color: #6B7280;
  }
  .oigyo4n {
    color: #4B5563;
  }
  .oigyo4q {
    color: #374151;
  }
  .oigyo4t {
    color: #1F2937;
  }
  .oigyo4w {
    color: #111827;
  }
  .oigyo4z {
    color: #000000;
  }
  .oigyo412 {
    background-color: #FFFFFF;
  }
  .oigyo415 {
    background-color: #F9FAFB;
  }
  .oigyo418 {
    background-color: #F3F4F6;
  }
  .oigyo41b {
    background-color: #E5E7EB;
  }
  .oigyo41e {
    background-color: #D1D5DB;
  }
  .oigyo41h {
    background-color: #9CA3AF;
  }
  .oigyo41k {
    background-color: #6B7280;
  }
  .oigyo41n {
    background-color: #4B5563;
  }
  .oigyo41q {
    background-color: #374151;
  }
  .oigyo41t {
    background-color: #1F2937;
  }
  .oigyo41w {
    background-color: #111827;
  }
  .oigyo41z {
    background-color: #000000;
  }
  .oigyo422 {
    border-color: #FFFFFF;
  }
  .oigyo425 {
    border-color: #F9FAFB;
  }
  .oigyo428 {
    border-color: #F3F4F6;
  }
  .oigyo42b {
    border-color: #E5E7EB;
  }
  .oigyo42e {
    border-color: #D1D5DB;
  }
  .oigyo42h {
    border-color: #9CA3AF;
  }
  .oigyo42k {
    border-color: #6B7280;
  }
  .oigyo42n {
    border-color: #4B5563;
  }
  .oigyo42q {
    border-color: #374151;
  }
  .oigyo42t {
    border-color: #1F2937;
  }
  .oigyo42w {
    border-color: #111827;
  }
  .oigyo42z {
    border-color: #000000;
  }
}
.s8lm4i0 {
  border-radius: 0;
}
.s8lm4i1 {
  border-radius: 1px;
}
.s8lm4i2 {
  border-radius: 2px;
}
.s8lm4i3 {
  border-radius: 3px;
}
.s8lm4i4 {
  border-radius: 4px;
}
.s8lm4i5 {
  border-radius: 5px;
}
.s8lm4i6 {
  border-radius: 6px;
}
.s8lm4i7 {
  border-radius: 7px;
}
.s8lm4i8 {
  border-radius: 8px;
}
.s8lm4i9 {
  border-radius: 9px;
}
.s8lm4ia {
  border-radius: 10px;
}
.s8lm4ib {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
}
.s8lm4ic {
  flex-grow: 1;
}
.s8lm4id {
  flex-grow: 0;
}
.s8lm4if {
  align-self: stretch;
}
.s8lm4ii {
  flex-direction: row;
}
.s8lm4ij {
  flex-direction: column;
}
.s8lm4ik {
  justify-content: flex-start;
}
.s8lm4il {
  justify-content: center;
}
.s8lm4im {
  justify-content: flex-end;
}
.s8lm4in {
  align-items: flex-start;
}
.s8lm4io {
  align-items: center;
}
.s8lm4ip {
  align-items: flex-end;
}
.s8lm4iq {
  cursor: default;
}
.s8lm4ir {
  cursor: pointer;
}
.s8lm4is {
  cursor: text;
}
.s8lm4it {
  width: 0rem;
}
.s8lm4iu {
  width: 0.25rem;
}
.s8lm4iv {
  width: 0.5rem;
}
.s8lm4iw {
  width: 0.75rem;
}
.s8lm4ix {
  width: 1rem;
}
.s8lm4iy {
  width: 1.25rem;
}
.s8lm4iz {
  width: 1.5rem;
}
.s8lm4i10 {
  width: 1.75rem;
}
.s8lm4i11 {
  width: 2rem;
}
.s8lm4i12 {
  width: 2.25rem;
}
.s8lm4i13 {
  width: 2.5rem;
}
.s8lm4i14 {
  height: 0rem;
}
.s8lm4i15 {
  height: 0.25rem;
}
.s8lm4i16 {
  height: 0.5rem;
}
.s8lm4i17 {
  height: 0.75rem;
}
.s8lm4i18 {
  height: 1rem;
}
.s8lm4i19 {
  height: 1.25rem;
}
.s8lm4i1a {
  height: 1.5rem;
}
.s8lm4i1b {
  height: 1.75rem;
}
.s8lm4i1c {
  height: 2rem;
}
.s8lm4i1d {
  height: 2.25rem;
}
.s8lm4i1e {
  height: 2.5rem;
}
.s8lm4i1f {
  padding-top: 0rem;
}
.s8lm4i1g {
  padding-top: 0.25rem;
}
.s8lm4i1h {
  padding-top: 0.5rem;
}
.s8lm4i1i {
  padding-top: 0.75rem;
}
.s8lm4i1j {
  padding-top: 1rem;
}
.s8lm4i1k {
  padding-top: 1.25rem;
}
.s8lm4i1l {
  padding-top: 1.5rem;
}
.s8lm4i1m {
  padding-top: 1.75rem;
}
.s8lm4i1n {
  padding-top: 2rem;
}
.s8lm4i1o {
  padding-top: 2.25rem;
}
.s8lm4i1p {
  padding-top: 2.5rem;
}
.s8lm4i1q {
  padding-left: 0rem;
}
.s8lm4i1r {
  padding-left: 0.25rem;
}
.s8lm4i1s {
  padding-left: 0.5rem;
}
.s8lm4i1t {
  padding-left: 0.75rem;
}
.s8lm4i1u {
  padding-left: 1rem;
}
.s8lm4i1v {
  padding-left: 1.25rem;
}
.s8lm4i1w {
  padding-left: 1.5rem;
}
.s8lm4i1x {
  padding-left: 1.75rem;
}
.s8lm4i1y {
  padding-left: 2rem;
}
.s8lm4i1z {
  padding-left: 2.25rem;
}
.s8lm4i20 {
  padding-left: 2.5rem;
}
.s8lm4i21 {
  padding-bottom: 0rem;
}
.s8lm4i22 {
  padding-bottom: 0.25rem;
}
.s8lm4i23 {
  padding-bottom: 0.5rem;
}
.s8lm4i24 {
  padding-bottom: 0.75rem;
}
.s8lm4i25 {
  padding-bottom: 1rem;
}
.s8lm4i26 {
  padding-bottom: 1.25rem;
}
.s8lm4i27 {
  padding-bottom: 1.5rem;
}
.s8lm4i28 {
  padding-bottom: 1.75rem;
}
.s8lm4i29 {
  padding-bottom: 2rem;
}
.s8lm4i2a {
  padding-bottom: 2.25rem;
}
.s8lm4i2b {
  padding-bottom: 2.5rem;
}
.s8lm4i2c {
  padding-right: 0rem;
}
.s8lm4i2d {
  padding-right: 0.25rem;
}
.s8lm4i2e {
  padding-right: 0.5rem;
}
.s8lm4i2f {
  padding-right: 0.75rem;
}
.s8lm4i2g {
  padding-right: 1rem;
}
.s8lm4i2h {
  padding-right: 1.25rem;
}
.s8lm4i2i {
  padding-right: 1.5rem;
}
.s8lm4i2j {
  padding-right: 1.75rem;
}
.s8lm4i2k {
  padding-right: 2rem;
}
.s8lm4i2l {
  padding-right: 2.25rem;
}
.s8lm4i2m {
  padding-right: 2.5rem;
}
.s8lm4i2n {
  gap: 0rem;
}
.s8lm4i2o {
  gap: 0.25rem;
}
.s8lm4i2p {
  gap: 0.5rem;
}
.s8lm4i2q {
  gap: 0.75rem;
}
.s8lm4i2r {
  gap: 1rem;
}
.s8lm4i2s {
  gap: 1.25rem;
}
.s8lm4i2t {
  gap: 1.5rem;
}
.s8lm4i2u {
  gap: 1.75rem;
}
.s8lm4i2v {
  gap: 2rem;
}
.s8lm4i2w {
  gap: 2.25rem;
}
.s8lm4i2x {
  gap: 2.5rem;
}
.s8lm4i2y {
  user-select: none;
}
.s8lm4i2z {
  border-radius: 0px;
}
.s8lm4i30 {
  border-radius: 1px;
}
.s8lm4i31 {
  border-radius: 2px;
}
.s8lm4i32 {
  border-radius: 3px;
}
.s8lm4i33 {
  border-radius: 4px;
}
.s8lm4i34 {
  border-radius: 5px;
}
.s8lm4i35 {
  border-radius: 6px;
}
.s8lm4i36 {
  border-radius: 7px;
}
.s8lm4i37 {
  border-radius: 8px;
}
.s8lm4i38 {
  border-radius: 9px;
}
.s8lm4i39 {
  border-radius: 10px;
}
.s8lm4i3a {
  border-width: 0px;
}
.s8lm4i3b {
  border-width: 1px;
}
.s8lm4i3c {
  border-width: 2px;
}
.s8lm4i3d {
  border-width: 3px;
}
.s8lm4i3e {
  border-width: 4px;
}
.s8lm4i3f {
  border-width: 5px;
}
.s8lm4i3g {
  border-width: 6px;
}
.s8lm4i3h {
  border-width: 7px;
}
.s8lm4i3i {
  border-width: 8px;
}
.s8lm4i3j {
  border-width: 9px;
}
.s8lm4i3k {
  border-width: 10px;
}
.s8lm4i3l {
  border-style: solid;
}
._1lcfknz0 {
  font-family: "Inter", sans-serif;
}
._1lcfknz1 {
  font-size: 0.75rem;
  line-height: 1rem;
}
._1lcfknz2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
._1lcfknz3 {
  font-size: 1rem;
  line-height: 1.5rem;
}
._1lcfknz4 {
  font-size: 2rem;
  line-height: 3.5rem;
}
._1lcfknz5 {
  font-size: 2.5rem;
  line-height: 4.5rem;
}
._1lcfknz6 {
  white-space: nowrap;
}
._1lcfknz8 {
  font-weight: 400;
}
._1lcfknz9 {
  font-weight: 500;
}
._1lcfknza {
  text-align: center;
}
._1lcfknzb {
  width: min-content;
}
._1lcfknzc {
  display: contents;
}
._1pznwpk0 {
  transition: transform 0.03s ease-in;
  pointer-events: none;
}
._1pznwpk1 {
  transform: scale(0.8, 0.8) translate(0, -0.2em);
  transform-origin: top left;
}
._1pznwpk3 {
  width: 100%;
  &:-webkit-autofill {
    animation-name: onAutoFillStart;
    transition: background-color 50000s ease-in-out 0s;
  }
  &:not(:-webkit-autofill) {
    animation-name: onAutoFillCancel;
  }
}
._1pznwpk4 {
  color: #1F2937;
}
@keyframes _1xj5myj0 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
._1xj5myj1 {
  background: linear-gradient(-45deg, #4ADE80, #60A5FA, #C084FC, #FB7185);
  background-size: 200% 200%;
  animation: _1xj5myj0 15s ease infinite;
  transition: transform 0.1s, box-shadow 0.2s;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.4) inset;
}
._1xj5myj1:focus {
  outline: 3px solid #BFDBFE;
}
._1xj5myj1:active {
  transform: scale(1.01, 1.01);
  transform-origin: center center;
}
._1xj5myj2 {
  box-shadow: none;
  cursor: not-allowed;
  background: gray;
}
._1xj5myj2:focus {
  outline: unset;
}
._1xj5myj2:active {
  transform: unset;
}
._1ljw5v20 {
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .5s transform, .3s opacity ease-in;
}
._1ljw5v21 {
  opacity: 0;
  pointer-events: none;
  transform: translate(0, 50%);
}
._1ljw5v22 {
  opacity: 1;
  transform: translate(0);
}
._18rrkwr0 {
  position: relative;
  overflow: hidden;
}
.drximd0 {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
}
/*** The new CSS Reset - version 1.3.1 (last updated 28.10.2021) ***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove list styles (bullets/numbers) */
ol, ul {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

